.pricing-card .btn {
  padding: 0;
  line-height: 1;
}

.pricing-description {
  font-size: 12px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.discover {
  color: black;
}

